[user]
    name = David Williams
    email = dwilliams@shipt.com

# Use ssh instead of https
[url "git@github.com:"]
	insteadOf = https://github.com/

[init]
    defaultBranch = main

[fetch]
    prune = true

[alias]
    # Display all the git config list
    cf = config
    cfl = config --list

    ci = commit
    ciaem = commit --allow-empty --message
    cialm = commit --all --message
    ciamm = commit --amend --message
    cim = commit --message
    cp = cherry-pick
    co = checkout

    df = diff
    dfs = diff --staged

    st = status
    sts = status --short --branch

    lg = log
    # Show last change with file names
    lgl = log -1 HEAD --stat
    lgol = log --oneline
    lgp = log --patch
    lgg = log --graph --decorate --pretty=oneline --abbrev-commit
    lgga = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local

    ls = ls-files

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard


    # Display all the git aliases
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

    delete-local-merged = "!git fetch && git branch --merged | egrep -v 'main' | xargs git branch -d"

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = red
