[init]
	defaultBranch = main

[core]
	editor = "nvim --clean"
	pager = diff-so-fancy | less --tabs=4 -RF

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[interactive]
	diffFilter = diff-so-fancy --patch

[push]
	autoSetupRemote = true

# Use ssh instead of https
[url "git@github.com:"]
	insteadOf = https://github.com/

[user]
	name = David Williams

[alias]
	st = status
